<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.cllccc.exam.dao.common.dao.DateTimeMapper">
    <resultMap id="BaseResultMap" type="top.cllccc.exam.domain.DateTime">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="week" jdbcType="INTEGER" property="week"/>
        <result column="day" jdbcType="INTEGER" property="day"/>
        <result column="date" jdbcType="DATE" property="date"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, week, day, date
    </sql>

    <select id="queryByDate" resultType="top.cllccc.exam.domain.DateTime">

        SELECT id,week,day,date FROM date_time
        WHERE 1 = 1
        <if test="dateTime.date != null">
            AND date = #{dateTime.date,jdbcType=DATE}
        </if>
    </select>
</mapper>