<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.cllccc.exam.dao.common.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="top.cllccc.exam.domain.Student">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="student_no" jdbcType="VARCHAR" property="studentNo" />
    <result column="student_name" jdbcType="VARCHAR" property="studentName" />
    <result column="student_sex" jdbcType="VARCHAR" property="studentSex" />
    <result column="student_phone" jdbcType="VARCHAR" property="studentPhone" />
    <result column="student_address" jdbcType="VARCHAR" property="studentAddress" />
    <result column="class_id" jdbcType="VARCHAR" property="classId" />
    <result column="student_password" jdbcType="VARCHAR" property="studentPassword" />
  </resultMap>
</mapper>