<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.cllccc.exam.dao.common.dao.TimeMapper">
  <resultMap id="GradeMap" type="top.cllccc.exam.domain.dto.Grade">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="time_grade" jdbcType="INTEGER" property="grade" />
    <result column="time_semester" jdbcType="INTEGER" property="semester" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, time_grade, time_semester, time_week, time_day, time_order
  </sql>

  <select id="queryDistinctGrade" resultMap="GradeMap">
    SELECT DISTINCT id,time_grade,time_semester from time
  </select>
</mapper>