<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.cllccc.exam.dao.common.dao.TimeMapper">
  <resultMap id="BaseResultMap" type="top.cllccc.exam.domain.Time">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="time_grade" jdbcType="INTEGER" property="timeGrade" />
    <result column="time_semester" jdbcType="INTEGER" property="timeSemester" />
    <result column="time_week" jdbcType="INTEGER" property="timeWeek" />
    <result column="time_day" jdbcType="INTEGER" property="timeDay" />
    <result column="time_order" jdbcType="INTEGER" property="timeOrder" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, time_grade, time_semester, time_week, time_day, time_order
  </sql>
</mapper>