<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.cllccc.exam.dao.common.dao.UserMapper">
  <resultMap id="BaseResultMap" type="top.cllccc.exam.domain.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="identity" jdbcType="VARCHAR" property="identity" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, no, password, identity, name
  </sql>
</mapper>