<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="top.cllccc.exam.dao.ClassRoomDao">
    <!--查询-->
    <!--根据主键查询-->
    <select id="getClassRoomByNo" resultType="top.cllccc.exam.domain.ClassRoom">
        select * from classroom where room_no=#{roomNo}
    </select>
    <!--查询所有学生信息-->
    <select id="getAllClassRoom" resultType="top.cllccc.exam.domain.ClassRoom">
        select * from classroom
    </select>
    <!-- 增加 -->
    <insert id="addClassRoom">
        INSERT INTO classroom(room_no,room_name,room_seats)
        VALUES(#{roomNo},#{roomName},#{roomSeats})
    </insert>
    <!-- 删除 -->
    <delete id="deleteClassRoom">
        DELETE FROM classroom where room_no=#{roomNo}
    </delete>
    <!-- 更新 -->
    <update id="updateClassRoom">
        UPDATE classroom set room_name=#{roomName},
        room_seats=#{roomSeats}
        WHERE room_no = #{roomNo}
    </update>
</mapper>