<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="top.cllccc.exam.dao.ClazsDao">
    <!--查询 -->
    <select id="getClazsByNo" resultType="top.cllccc.exam.domain.Clazs">
        select * from clazs where class_no = #{0}
    </select>
    <select id="getAllClazs" resultType="top.cllccc.exam.domain.Clazs">
        select * from clazs
    </select>
    <!-- 增加 -->
    <insert id="addClazs">
        INSERT INTO clazs(class_no,class_name,class_count,dep_no)
        VALUES(#{classNo},#{className},#{classCount},#{depNo})
    </insert>
    <!-- 删除 -->
    <delete id="deleteClazs">
        DELETE FROM clazs WHERE class_no=#{classNo}
    </delete>
    <!-- 更新 -->
    <update id="updateClazs">
        UPDATE clazs SET class_name=#{className},
        class_count=#{classCount},
        dep_no=#{depNo}
        WHERE
        class_no=#{classNo}
    </update>
    <resultMap id="classMap" type="top.cllccc.exam.domain.Clazs">
        <id property="classNo" column="class_no"></id>
        <result property="className" column="class_name"></result>
        <result property="classCount" column="class_count"></result>
        <result property="depNo" column="dep_no"></result>
        <collection property="students"
                    column="class_No"
                    select="top.cllccc.exam.dao.StudentDao.getStudentByClass">
        </collection>
        <!-- 一对多collection中一定要用ofType -->
        <!--<collection property="students" ofType="top.cllccc.exam.domain.Student">
            <id property="studentNo" column="student_no"></id>
            <result property="studentPassword" column="student_password"></result>
            <result property="studentName" column="student_name"></result>
            <result property="studentSex" column="student_sex"></result>
            <result property="studentPhone" column="student_phone"></result>
            <result property="studentAddress" column="student_address"></result>
        </collection>-->
    </resultMap>
</mapper>