<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="top.cllccc.exam.dao.CourseTimeDao">
    <!--查询 -->
    <!--根据课程编号查询-->
    <select id="getCourseTimeByCourseNo" resultType="top.cllccc.exam.domain.CourseTime">
        select * from coursetime where course_no = #{courseNo}
    </select>
    <!--根据教师编号查询-->
    <select id="getCourseTimeByTimeNo" resultType="top.cllccc.exam.domain.CourseTime">
        select * from coursetime where time_no = #{timeNo}
    </select>
    <select id="getAllCourseTime" resultType="top.cllccc.exam.domain.CourseTime">
        select * from coursetime
    </select>
    <!-- 增加 -->
    <insert id="addCourseTime">
        INSERT INTO coursetime(course_no,time_no)
        VALUES(#{courseNo},#{timeNo})
    </insert>
    <!-- 删除 -->
    <delete id="deleteCourseTime">
        DELETE FROM coursetime WHERE time_no=#{timeNo} and course_no=#{courseNo}
    </delete>
    <!-- 删除 -->
    <delete id="deleteCourseTimeByCourseNo">
        DELETE FROM coursetime WHERE course_no=#{courseNo}
    </delete>
</mapper>