<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="top.cllccc.exam.dao.DepartmentDao">
    <!--查询 -->
    <select id="getDepartmentByNo" resultType="top.cllccc.exam.domain.Department">
        select * from department where dep_no = #{depNo}
    </select>
    <select id="getAllDepartment" resultType="top.cllccc.exam.domain.Department">
        select * from department
    </select>
    <!-- 增加 -->
    <insert id="addDepartment">
        INSERT INTO department(dep_no,dep_name,dep_leader,dep_phone)
        VALUES(#{depNo},#{depName},#{depLeader},#{depPhone})
    </insert>
    <!-- 删除 -->
    <delete id="deleteDepartment">
        DELETE FROM department WHERE dep_no=#{depNo}
    </delete>
    <!-- 更新 -->
    <update id="updateDepartment">
        UPDATE department
        SET dep_name=#{depName},
        dep_leader=#{depLeader},
        dep_phone=#{depPhone}
        WHERE
        dep_no=#{depNo}
    </update>
</mapper>