<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="top.cllccc.exam.dao.ExamRoomDao">
    <!--查询 -->
    <!--根据课程编号查询-->
    <select id="getExamRoomByExamNo" resultType="top.cllccc.exam.domain.ExamRoom">
        select * from examroom where exam_no = #{examNo}
    </select>
    <select id="getAllExamRoom" resultType="top.cllccc.exam.domain.ExamRoom">
        select * from examroom
    </select>
    <!-- 增加 -->
    <insert id="addExamRoom">
        INSERT INTO examroom(exam_no,room_no)
        VALUES(#{examNo},#{roomNo})
    </insert>
    <!-- 删除 -->
    <delete id="deleteExamRoom">
        DELETE FROM examroom WHERE exam_no=#{examNo} and room_no=#{roomNo}
    </delete>
    <!-- 删除 -->
    <delete id="deleteExamRoomByExamNo">
        DELETE FROM examroom WHERE exam_no=#{examNo}
    </delete>
</mapper>