<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="top.cllccc.exam.dao.ExamTeacherDao">
    <!--查询 -->
    <!--根据课程编号查询-->
    <select id="getExamTeacherByExamNo" resultType="top.cllccc.exam.domain.ExamTeacher">
        select * from examteacher where exam_no = #{examNo}
    </select>
    <select id="getAllExamTeacher" resultType="top.cllccc.exam.domain.ExamTeacher">
        select * from examteacher
    </select>
    <!-- 增加 -->
    <insert id="addExamTeacher">
        INSERT INTO examteacher(exam_no,teacher_no)
        VALUES(#{examNo},#{teacherNo})
    </insert>
    <!-- 删除 -->
    <delete id="deleteExamTeacher">
        DELETE FROM examteacher WHERE exam_no=#{examNo} and teacher_no=#{teacherNo}
    </delete>
    <!-- 删除 -->
    <delete id="deleteExamTeacherByExamNo">
        DELETE FROM examteacher WHERE exam_no=#{examNo}
    </delete>
</mapper>