<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="top.cllccc.exam.dao.ExamTimeDao">
    <!--查询 -->
    <!--根据课程编号查询-->
    <select id="getExamTimeByExamNo" resultType="top.cllccc.exam.domain.ExamTime">
        select * from examtime where exam_no = #{examNo}
    </select>
    <select id="getAllExamTime" resultType="top.cllccc.exam.domain.ExamTime">
        select * from examtime
    </select>
    <!-- 增加 -->
    <insert id="addExamTime">
        INSERT INTO examtime(exam_no,time_no)
        VALUES(#{examNo},#{timeNo})
    </insert>
    <!-- 删除 -->
    <delete id="deleteExamTime">
        DELETE FROM examtime WHERE exam_no=#{examNo} and time_no=#{timeNo}
    </delete>
    <!-- 删除 -->
    <delete id="deleteExamTimeByExamNo">
        DELETE FROM examtime WHERE exam_no=#{examNo}
    </delete>
</mapper>