<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="top.cllccc.exam.dao.StuCourseDao">
    <!--查询 -->
    <!--根据课程编号查询-->
    <select id="getStuCourseByCourseNo" resultType="top.cllccc.exam.domain.StuCourse">
        select * from stucourse where course_no = #{courseNo}
    </select>
    <!--根据学生编号查询-->
    <select id="getStuCourseByStudentNo" resultType="top.cllccc.exam.domain.StuCourse">
        select * from stucourse where student_no = #{studentNo}
    </select>
    <select id="getAllStuCourse" resultType="top.cllccc.exam.domain.StuCourse">
        select * from stucourse
    </select>
    <!-- 增加 -->
    <insert id="addStuCourse">
        INSERT INTO stucourse(student_no,course_no,score)
        VALUES(#{studentNo},#{courseNo},#{score})
    </insert>
    <!-- 删除 -->
    <delete id="deleteStuCourse">
        DELETE FROM stucourse WHERE student_no=#{studentNo} and course_no=#{courseNo}
    </delete>
    <!-- 更新 -->
    <update id="updateStuCourse">
        UPDATE stucourse SET score=#{score}
        WHERE
        student_no=#{studentNo} AND course_no=#{courseNo}
    </update>
</mapper>