<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="top.cllccc.exam.dao.StudentDao">
    <!--查询-->
    <!--根据学号查询-->
    <select id="getStudentByNo" resultType="top.cllccc.exam.domain.Student">
        select * from student where student_no=#{studentNo}
    </select>
    <!--查询所有学生信息-->
    <select id="getAllStudent" resultType="top.cllccc.exam.domain.Student">
        select * from student
    </select>
    <!--通过班级查询-->
    <select id="getStudentByClass" resultType="top.cllccc.exam.domain.Student">
        select * from student  where class_no=#{classNo}
    </select>
    <!-- 增加 -->
    <insert id="addStudent">
        INSERT INTO student(student_no,
        student_password,student_name,
        student_sex,student_phone,
        student_address,class_no)
        VALUES(#{studentNo},
        #{studentPassword},
        #{studentName},
        #{studentSex},
        #{studentPhone},
        #{studentAddress},
        #{classNo})
    </insert>
    <!-- 删除 -->
    <delete id="deleteStudent">
        DELETE FROM student where student_no=#{studentNo}
    </delete>
    <!-- 更新 -->
    <update id="updateStudent">
        UPDATE student set student_password=#{studentPassword},
        student_name=#{studentName},
        student_sex=#{studentSex},
        student_phone=#{studentPhone},
        student_address=#{studentAddress},
        class_no=#{classNo}
        WHERE student_no = #{studentNo}
    </update>
    <resultMap id="studentMap" type="top.cllccc.exam.domain.Student">
        <id property="studentNo" column="student_no"></id>
        <result property="studentPassword" column="student_password"></result>
        <result property="studentName" column="student_name"></result>
        <result property="studentSex" column="student_sex"></result>
        <result property="studentPhone" column="student_phone"></result>
        <result property="studentAddress" column="student_address"></result>
        <association property="clazs" column="class_no" select="top.cllccc.exam.dao.ClazsDao.getClazsByNo"/>
        <!-- 一对多collection中一定要用ofType -->
        <!--<association property="clazs" column="class_no" javaType="top.cllccc.exam.domain.Clazs">
            <id property="classNo" column="class_no"></id>
            <result property="className" column="class_name"></result>
            <result property="classCount" column="class_count"></result>
        </association>-->
    </resultMap>


</mapper>