<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="top.cllccc.exam.dao.TeacherDao">
    <!--查询 -->
    <select id="getTeacherByNo" resultType="top.cllccc.exam.domain.Teacher">
        select * from teacher where teacher_no = #{teacherNo}
    </select>
    <select id="getAllTeacher" resultType="top.cllccc.exam.domain.Teacher">
        select * from teacher
    </select>
    <!-- 增加 -->
    <insert id="addTeacher">
        INSERT INTO teacher(teacher_no,teacher_name,teacher_prof,teacher_phone,teacher_password,dep_no)
        VALUES(#{teacherNo},#{teacherName},#{teacherProf},#{teacherPhone},#{teacherPassword},#{depNo})
    </insert>
    <!-- 删除 -->
    <delete id="deleteTeacher">
        DELETE FROM teacher WHERE teacher_no=#{teacherNo}
    </delete>
    <!-- 更新 -->
    <update id="updateTeacher">
        UPDATE teacher
        SET teacher_name=#{teacherName},
        teacher_prof=#{teacherProf},
        teacher_phone=#{teacherPhone},
        teacher_password=#{teacherPassword},
        dep_no=#{depNo}
        WHERE
        teacher_no=#{teacherNo}
    </update>
</mapper>